<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getTokenServlet</servlet-name>
    <servlet-class>servlet.getTokenServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getDataServlet</servlet-name>
    <servlet-class>servlet.getDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>longConnServlet</servlet-name>
    <servlet-class>test.longConnServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>sendServlet</servlet-name>
    <servlet-class>test.sendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getDeviceServlet</servlet-name>
    <servlet-class>servlet.getDeviceServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>getTokenServlet</servlet-name>
    <url-pattern>/getTokenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getDataServlet</servlet-name>
    <url-pattern>/getDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>longConnServlet</servlet-name>
    <url-pattern>/longConnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendServlet</servlet-name>
    <url-pattern>/sendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getDeviceServlet</servlet-name>
    <url-pattern>/getDeviceServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
